.pictures {
    background: $black;
    &__grid_sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;

        img:nth-child(1) {
            border-top-left-radius: 25px;
        }

        img:nth-child(2) {
            border-top-right-radius: 25px;
        }

        img:nth-child(3) {
            border-bottom-left-radius: 25px;
        }

        img:nth-child(4) {
            border-bottom-right-radius: 25px;
        }
    }

    /*img:nth-child(even) {
        mask-image: linear-gradient(
            90deg,
            rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.5) 90%,
            rgb(0 0 0 / 0)
        );
        mask-size: contain;
        mask-position: right bottom;
        mask-repeat: no-repeat;
    }

    img:nth-child(odd) {
        mask-image: linear-gradient(
            90deg,
            rgb(0 0 0 / 0),
            rgb(0 0 0 / 0.3) 10%,
            rgb(0 0 0 / 1)
        );
        mask-size: contain;
        mask-position: right bottom;
        mask-repeat: no-repeat;
    }*/

    /*img:nth-child(1) {
        position: relative;
    }

    img:nth-child(2) {
        position: absolute;
        top: 2px;
        width: 400px;
    }

    img:nth-child(4) {
        margin-top: 2rem;
    }*/
}