.wrapper {
    padding: 1.5rem;

    @mixin atMedium {
        padding: 3.125rem 6.25rem;
    }
}

.wrapper-wider {
    padding: 1.5rem;

    @mixin atMedium {
        padding: 3.125rem 12rem;
    }
}

/*.diagonal {
    --skew-angle: skewY(-5deg);
    --background: linear-gradient(
        45deg,
        #12c2e9, #c471ed, #f64f59
    );
    position: relative;
    isolation: isolate;
}

.diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: var(--skew-angle);
}*/